annotated-types==0.7.0
bitarray==3.0.0
ckzg==2.0.1
cytoolz==1.0.1
eth-account==0.13.4
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.1.0
eth-typing==5.1.0
eth_abi==5.2.0
hexbytes==1.3.0
parsimonious==0.10.0
pydantic==2.10.6
pydantic_core==2.27.2
regex==2024.11.6
rlp==4.0.1
toolz==1.0.0
typing_extensions==4.12.2
web3==7.7.0